# Visual Studio Code
**/.vscode

# Python
**/__pycache__

# Logs
/RaspberryPi/Data/Output/logs.txt

# Compilation artifacts
**/*.o

# MongoDB
/GetARoom/student-app/mongodb/data/*

# Broker
/GetARoom/broker/fetcher-tcp*1883/*
