.box {
    position: absolute;
    opacity: 0.4;
}

.box:hover {
    opacity: 0.5;
}

.hm-full {
    background-color: #ff0000;
}

.hm-almost-full {
    background-color: #cc5500;
}

.hm-mid {
    background-color: #aaaa00;
}

.hm-almost-empty {
    background-color: #55cc00;
}

.hm-empty {
    background-color: #00ff00;
}
