# Visual Studio Code
**/.vscode

# Jetbrains IDE
**/.idea

# DS Store
**/.DS_Store

# Python
**/__pycache__

# Logs
/RaspberryPi/Data/Output/logs.txt

# Compilation artifacts
**/*.o

# Volumes
/GetARoom/volumes/*/*.log

# Broker
/GetARoom/broker/fetcher-tcp*1883/*
