# Jetbrains IDE
**/.idea

# DS Store
**/.DS_Store

# Python
**/__pycache__

# Logs
/RaspberryPi/Data/Output/logs.txt

# Compilation artifacts
**/*.o
/RaspberryPi/sensor/sensor

# Docker volumes
/App/volumes/fetcher
/App/volumes/mysql
/App/volumes/mongo
/App/volumes/student

# Fetcher
/GetARoom/fetcher/fetcher-tcp*1883/*
