# Jetbrains IDE
**/.idea

# DS Store
**/.DS_Store

# Python
**/__pycache__

# Logs
/RaspberryPi/Data/Output/logs.txt

# Compilation artifacts
**/*.o
/RaspberryPi/sensor/sensor

# Volumes
#/App/volumes/*/*.log
/App/volumes/*

# Broker
/GetARoom/broker/fetcher-tcp*1883/*
