<html lang="en">
<head>
    <th:block th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
              integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/css/base.css}" type="text/css">
    </th:block>
</head>
<body>
<nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/}">
                    <i class="fa fa-home"></i>
                    Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/heatmaps}">
                    Map
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/logs}">
                    Logs
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/blacklist}">
                    Blacklist
                </a>
            </li>
        </ul>
        <ul class="navbar-nav ">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">
                    Login/Register
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Log out
                </a>
            </li>
        </ul>
    </div>
</nav>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Add/Remove
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Blacklist Manager</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <label>Department:</label>
                    <select id="dep" th:onchange="'setRoomValues()'" name="dep" class="form-control">
                        <option th:each="dep :${depList}" th:value="${dep}" th:text="${dep}">
                        </option>
                    </select> </br>
                    <label>Room:</label>
                    <select id="room" name="room" class="form-control">
                        <option id="option" th:each="room :${roomList}" th:value="${room}"
                                th:text="'Room.' + ${room}">
                        </option>
                    </select> </br>
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> </br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnRemove" th:onclick="'removeBlacklist()'">Remove</button>
                <button type="button" class="btn btn-primary" id="btnAdd" th:onclick="'addToBlacklist()'">Add</button>
            </div>
        </div>
    </div>
</div>


<th:block th:fragment="scripts">
    <script th:src="@{/scripts/blacklist.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>

</th:block>
</body>
</html>