<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="base :: head"/>
    <title>Blacklist</title>
    <link rel="stylesheet" th:href="@{/css/table_blacklist.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/blacklist.css}" type="text/css">
</head>
<body>
    
<div id="notification-consumers">
    <th:block th:replace="base :: navbar" />

    <th:block th:replace="base :: alerts" />
</div>

<div class="card-deck">
    <div class="card">
        <div class="card-block d-flex flex-column">
            <div class="card-header">
                Blacklist Manager
            </div>
            <p class="card-text">
                Manage the room's blacklist in a certain department by adding or removing a user, using is identifier (e-mail)
            </p>

            <button type="button" class="align-self-end btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Blacklist Manager
            </button>
        </div>
    </div>

    <div class="card">
        <div class="card-block d-flex flex-column">
            <div class="card-header">
                By Room
            </div>
            <p class="card-text">
                Check out the table with all the blacklisted users in a certain room's department
            </p>

            <button type="button" class="align-self-end btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
                Blacklist by Room
            </button>
        </div>
    </div>

    <div class="card">
        <div class="card-block d-flex flex-column">
            <div class="card-header">
                By Department
            </div>
            <p class="card-text">
                Check out the table with all the blacklisted users in a certain department
            </p>

            <button type="button" class="align-self-end btn btn-primary" data-toggle="modal" data-target="#exampleModal3">
                Blacklist by Department
            </button>
        </div>
    </div>
</div>

<div id="roomTable" style="visibility: hidden">
    <div id="booking" class = "section">
        <div class="limiter">
            <div class="container-table100">
                <div class="wrap-table100">
                    <div class="table100">
                        <table id="blacklistTable">
                            <thead>
                            <tr class="table100-head">
                                <th class="column1">Room number</th>
                                <th class="column2">Email</th>
                            </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal MANAGER -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Blacklist Manager</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <label>Department:</label>
                    <select id="dep" th:onchange="'setRoomValues()'" name="dep" class="form-control">
                        <option th:each="dep :${depList}" th:value="${dep.id}" th:text="${dep.id} + ' - ' + ${dep.fullName}">
                        </option>
                    </select> </br>
                    <label>Room:</label>
                    <select id="room" name="room" class="form-control">
                        <option id="option" th:each="room :${roomList}" th:value="${room}"
                                th:text="'Room.' + ${room}">
                        </option>
                    </select> </br>
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"> </br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnRemove" th:onclick="'removeBlacklist()'">Remove</button>
                <button type="button" class="btn btn-primary" id="btnAdd" th:onclick="'addToBlacklist()'">Add</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal by ROOM-->
<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel2">Blacklist Manager</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <label>Department:</label>
                    <select id="dep2" th:onchange="'setRoomValuesForRoomModal()'" name="dep2" class="form-control">
                        <option th:each="dep :${depList}" th:value="${dep.id}" th:text="${dep.id} + ' - ' + ${dep.fullName}">
                        </option>
                    </select> </br>
                    <label>Room:</label>
                    <select id="room2" name="room2" class="form-control">
                        <option id="option2" th:each="room :${roomList}" th:value="${room.id}"
                                th:text="'Room.' + ${room.id}">
                        </option>
                    </select> </br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnBlacklistRoom" th:onclick="'blacklistByRoom()'">Go</button>
            </div>
        </div>
    </div>
</div>



<!-- Modal by DEPARTMENT-->
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel3">Blacklist Manager</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="">
                    <label>Department:</label>
                    <select id="dep3" th:onchange="'setValuesForDepModal()'" name="dep2" class="form-control">
                        <option th:each="dep :${depList}" th:value="${dep.id}" th:text="${dep.id} + ' - ' + ${dep.fullName}">
                        </option>
                    </select> </br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnBlacklistDep" th:onclick="'blacklistByDep()'">Go</button>
            </div>
        </div>
    </div>
</div>



<th:block th:include="base :: scripts" />

<script th:src="@{/scripts/blacklist.js}"></script>

</body>
</html>