<html lang="en">
    <head>
        <th:block th:include="base :: head" />
        <title>Logs</title>
    </head>
    <body>

        <div id="notification-consumers">
            <th:block th:replace="base :: navbar" />
        
            <th:block th:replace="base :: alerts" />
        </div>

        <div class="container">
            <h2>Logs</h2>
            <form method="get" th:action="@{/logs}">
                <label for="room">Room:</label>
                <input type="text" id="room" name="room"/>
                <input type="submit" value="Submit" />
            </form>
            <!-- <table class="table" th:unless="${events.isEmpty()}"> -->
                <!-- <thead> -->
                    <!-- <tr> -->
                        <!-- <th scope="col">Id</th> -->
                        <!-- <th scope="col">Person</th> -->
                        <!-- <th scope="col">Email</th> -->
                        <!-- <th scope="col">Room</th> -->
                        <!-- <th scope="col">Action</th> -->
                        <!-- <th scope="col">Time</th> -->
                    <!-- </tr> -->
                <!-- </thead> -->
                <!-- <tbody th:each="event : ${events}"> -->
                    <!-- <tr> -->
                        <!-- <th th:text="${event.id}" scope="row">Id</th> -->
                        <!-- <td th:text="${event.user}">User</td> -->
                        <!-- <td th:text="${event.email}">Email</td> -->
                        <!-- <td th:text="${event.room}">Room</td> -->
                        <!-- <td th:switch="${event.entered}"> -->
                            <!-- <p th:case="true"> -->
                                <!-- Entry -->
                            <!-- </p> -->
                            <!-- <p th:case="false"> -->
                                <!-- Exit -->
                            <!-- </p> -->
                        <!-- </td> -->
                        <!-- <td th:text="${event.time}">Time</td> -->
                    <!-- </tr> -->
                <!-- </tbody> -->
            <!-- </table> -->
            <table class="table">
                <thead>
                    <tr>
                        <!-- <th scope="col">Id</th> -->
                        <th scope="col">Person</th>
                        <th scope="col">Email</th>
                        <th scope="col">Room</th>
                        <th scope="col">Action</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Events">
                    <tr>
                        <!-- <th th:text="${event.id}" scope="row">Id</th> -->
                        <td data-bind="text: user">User</td>
                        <td data-bind="text: email">Email</td>
                        <td data-bind="text: room">Room</td>
                        <!-- ko if: entered -->
                        <td>Entry</td>
                        <!-- /ko -->
                        <!-- ko ifnot: entered -->
                        <td>Exit</td>
                        <!-- /ko -->
                        <td data-bind="text: time">Time</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <th:block th:include="base :: scripts" />
        <script th:src="@{/scripts/logs.js}" src="../static/scripts/logs.js"></script>
    </body>
</html>