<html lang="en">
    <head>
        <th:block th:include="base :: head" />
        <title>Logs</title>
    </head>
    <body>

        <div id="notification-consumers">
            <th:block th:replace="base :: navbar" />
        
            <th:block th:replace="base :: alerts" />
        </div>

        <div class="container" id="ko-body">
            <h2>Logs</h2>
            <form action="#">
                <label for="room">Room:</label>
                <input type="text" id="room" name="room" data-bind="value: room"/>
                <label for="page-capacity">Events per page:</label>
                <input type="number" id="page-capacity" name="page-capacity" data-bind="value: pageCapacity"/>
                <button class="btn btn-primary" data-bind="click: updateEvents">Apply</button>
                <button class="btn btn-info" data-bind="click: resetDefault">Reset to default</button>
            </form>
            <div id="page_selection" class="container">
                <div class="row">
                    <div class="col-2">
                        <a>Prev</a>
                    </div>
                    <div class="col-8" data-bind="foreach: pages">
                        <a data-bind="if: $root.pageSelected == $index()">●</a>
                        <a data-bind="ifnot: $root.pageSelected == $index(), click: $root.showPage($index())">○</a>
                    </div>
                    <div class="col-2">
                        <a>Next</a>
                    </div>
                </div>
            </div>
            <table class="table" data-bind="if: events().length > 0">
                <thead>
                    <tr>
                        <th scope="col">Person</th>
                        <th scope="col">Email</th>
                        <th scope="col">Room</th>
                        <th scope="col">Action</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: events">
                    <tr>
                        <td data-bind="text: user">User</td>
                        <td data-bind="text: email">Email</td>
                        <td data-bind="text: room">Room</td>
                        <td>
                            <p data-bind="if: entered">
                                Entry
                            </p>
                            <p data-bind="ifnot: entered">
                                Exit
                            </p>
                        </td>
                        <td data-bind="text: time">Time</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        <th:block th:include="base :: scripts" />

        <script th:src="@{/scripts/logs.js}" src="../static/scripts/logs.js"></script>
    </body>
</html>