<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="base :: head" />
    <title>Notifications</title>
    <link rel="stylesheet" th:href="@{/css/table.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/table_notifications.css}" type="text/css">
</head>
<body>

    <div id="notification-consumers">
        <th:block th:replace="base :: navbar" />
    
        <th:block th:replace="base :: alerts" />

        <!-- This element tells 'base.js' to do calls to the API to obtain seen notifications. This should be temporary, as there are better ways of handling this. -->
        <input id="receive-all-notifications" hidden />

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="form-check">
                        <input class="form-check-input" id="see-unseen" type="checkbox" data-bind="checked: seeUnseen">
                        <label class="form-check-label" for="see-unseen">Show unseen notifications</label>
                    </div>
                    <div>
                        <h2 data-bind="if: seeUnseen">Unseen notifications</h2>
                        <h2 data-bind="ifnot: seeUnseen">All notifications</h2>
                        <button class="btn btn-primary" data-bind="click: commitSeenList">Mark as seen</button>
                        <button class="btn btn-primary" data-bind="click: toggleCheckmarks">Check/uncheck all</button>

                        <!--Notification table-->

                        <div class = "section">
                            <div class="limiter">
                                <div class="container-table100">
                                    <div class="wrap-table100">
                                        <div class="table100">
                                            <table>
                                                <thead>
                                                <tr class="table100-head">
                                                    <th class="column1" scope="col">Person</th>
                                                    <th class="column2" scope="col">Email</th>
                                                    <th class="column3" scope="col">Time</th>
                                                    <th class="column4" scope="col">Room</th>
                                                    <th class="column5" scope="col">Mark as seen</th>
                                                </tr>
                                                </thead>
                                                <tbody id="notification-table" data-bind="foreach: notifications">
                                                <tr data-bind="ifnot: seen && $root.seeUnseen">
                                                    <td class="column1" data-bind="text: user"></td>
                                                    <td class="column2" data-bind="text: email"></td>
                                                    <td class="column3" data-bind="text: time"></td>
                                                    <td class="column4" data-bind="text: room"></td>
                                                    <td class="column5" data-bind="ifnot: seen"><input type="checkbox" data-bind="value: $index" /></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <th:block th:include="base :: scripts" />

</body>
</html>
