<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="base :: head" />
    <title th:text="'Room ' + ${dep} + '.' + ${floor} + '.' + ${room}">Room</title>
</head>
<body>
    <div id="notification-consumers">
        <th:block th:replace="base :: navbar" />
    
        <th:block th:replace="base :: alerts" />
    </div>

    <div style="position: absolute; z-index: 1; width: 100%;">
        <ul id="alert-list" style="padding: 0">
        </ul>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-7">
                <h1 th:text="'Room ' + ${dep} + '.' + ${floor} + '.' + ${room}">Room</h1>
            </div>

            <div class="col-5">
                <h2>Blacklist</h2>
                <ul>
                    <li th:each="student : ${blacklisted.values()}">
                        <span th:text="${student.name}">Student</span>
                        <a th:href="@{/room/{dep}.{floor}.{room}/remove(dep=${dep},floor=${floor},room=${room},email=${student.email})}">
                            <i class="fa fa-times"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div id="room"  th:text="${dep} + '.' + ${floor} + '.' + ${room}"  hidden></div>
        <div class="row">
            <!-- <div class="col-12" th:with="filterYear='2021'"> -->
            <div class="col-12">
                <h1>Events</h1>
                <!-- <div> -->
                    <!-- <h3>Filters</h3> -->
                    <!-- <form> -->
                        <!-- <label for="event-year">Year:</label> -->
                        <!-- <select id="event-year" name="event-year"> -->
                            <!-- <option th:each="year : ${eventMap.keySet()}" -->
                                <!-- th:text="${year}" th:value="${year}" -->
                                <!-- th:selected="${year.equals('2020')}"></option> -->
                        <!-- </select> -->
                    <!-- </form> -->
                <!-- </div> -->
                <!-- <table class="table"> -->
                    <!-- <thead> -->
                        <!-- <tr> -->
                            <!-- <th scope="col">Id</th> -->
                            <!-- <th scope="col">Person</th> -->
                            <!-- <th scope="col">Email</th> -->
                            <!-- <th scope="col">Action</th> -->
                            <!-- <th scope="col">Time</th> -->
                            <!-- <th scope="col">Blacklist</th> -->
                        <!-- </tr> -->
                    <!-- </thead> -->
                    <!-- <tbody th:each="event : ${eventMap.get(filterYear)}"> -->
                    <!-- <tbody th:each="event : ${events}" th:unless="${events.isEmpty()}"> -->
                        <!-- <tr> -->
                            <!-- <th th:text="${event.id}" scope="row">Id</th> -->
                            <!-- <td th:text="${event.user}">User</td> -->
                            <!-- <td th:text="${event.email}">Email</td> -->
                            <!-- <td th:switch="${event.entered}"> -->
                                <!-- <p th:case="true"> -->
                                    <!-- Entry -->
                                <!-- </p> -->
                                <!-- <p th:case="false"> -->
                                    <!-- Exit -->
                                <!-- </p> -->
                            <!-- </td> -->
                            <!-- <td th:text="${event.time}">Time</td> -->
                            <!-- <td> -->
                                <!-- <div th:switch="${blacklisted.containsKey(event.email)}"> -->
                                    <!-- <a th:case="true" th:href="@{/room/{dep}.{floor}.{room}/remove(dep=${dep},floor=${floor},room=${room},email=${event.email})}"> -->
                                        <!-- <button type="button" class="btn btn-danger"><i class="fa fa-times"></i></button> -->
                                    <!-- </a> -->
                                    <!-- <a th:case="false" th:href="@{/room/{dep}.{floor}.{room}/add(dep=${dep},floor=${floor},room=${room},name=${event.user},email=${event.email})}"> -->
                                        <!-- <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i></button> -->
                                    <!-- </a> -->
                                    <!-- <span th:case="*">...</span> -->
                                <!-- </div> -->
                            <!-- </td> -->
                        <!-- </tr> -->
                    <!-- </tbody> -->
                <!-- </table> -->
                <table class="table">
                    <thead>
                        <tr>
                            <!-- <th scope="col">Id</th> -->
                            <th scope="col">Person</th>
                            <th scope="col">Email</th>
                            <th scope="col">Room</th>
                            <th scope="col">Action</th>
                            <th scope="col">Time</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: Events">
                        <tr>
                            <!-- <th th:text="${event.id}" scope="row">Id</th> -->
                            <td data-bind="text: user">User</td>
                            <td data-bind="text: email">Email</td>
                            <td data-bind="text: room">Room</td>
                            <!-- ko if: entered -->
                            <td>Entry</td>
                            <!-- /ko -->
                            <!-- ko ifnot: entered -->
                            <td>Exit</td>
                            <!-- /ko -->
                            <td data-bind="text: time">Time</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- <div class="container"> -->
            <!-- <h2>Logs</h2> -->
            <!-- <form method="get" th:action="@{/logs}"> -->
                <!-- <label for="room">Room:</label> -->
                <!-- <input type="text" id="room" name="room"/> -->
                <!-- <input type="submit" value="Submit" /> -->
            <!-- </form> -->
            <!-- <table class="table" th:unless="${events.isEmpty()}"> -->
                <!-- <thead> -->
                    <!-- <tr> -->
                        <!-- <th scope="col">Id</th> -->
                        <!-- <th scope="col">Person</th> -->
                        <!-- <th scope="col">Email</th> -->
                        <!-- <th scope="col">Action</th> -->
                        <!-- <th scope="col">Time</th> -->
                    <!-- </tr> -->
                <!-- </thead> -->
                <!-- <tbody th:each="event : ${events}"> -->
                    <!-- <tr> -->
                        <!-- <th th:text="${event.id}" scope="row">Id</th> -->
                        <!-- <td th:text="${event.user}">Person</td> -->
                        <!-- <td th:text="${event.email}">Email</td> -->
                        <!-- <td th:text="${event.action}">Action</td> -->
                        <!-- <td th:text="${event.time}">Time</td> -->
                    <!-- </tr> -->
                <!-- </tbody> -->
            <!-- </table> -->
        <!-- </div> -->
    </div>

    <th:block th:include="base :: scripts" />
    <!-- <script>
        function sleep(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }

        async function demo() {
            await sleep(5000);
            const alertList = document.getElementById('alert-list');
            let alert = document.createElement('li');
            alert.textContent = 'This is an alert box.';
            alert.className = 'alert';
            alert.style.margin = '0';
            let x = document.createElement('span');
            x.className = 'closebtn';
            x.onclick = function (event) {
                this.parentElement.style.display='none';
            }
            x.innerHTML = '&times';
            alert.appendChild(x);
            alertList.appendChild(alert);
        }

        demo();
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
    <script th:src="@{/scripts/room.js}" src="../static/scripts/room.js"></script>
    </script> -->
</body>
</html>