<!DOCTYPE html>
<html lang="en">
<head>
    <th:block th:include="base :: head" />
    <title th:text="'Room ' + ${dep} + '.' + ${floor} + '.' + ${room}">Room</title>
</head>
<body>
    <div id="notification-consumers">
        <th:block th:replace="base :: navbar" />
    
        <th:block th:replace="base :: alerts" />
    </div>

    <div style="position: absolute; z-index: 1; width: 100%;">
        <ul id="alert-list" style="padding: 0">
        </ul>
    </div>

    <div id="ko-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-7">
                    <h1 th:text="'Room ' + ${dep} + '.' + ${floor} + '.' + ${room}">Room</h1>
                </div>
    
                <div class="col-5">
                    <h2>Blacklist</h2>
                    <ul>
                        <li th:each="entry : ${blacklisted}">
                            <span th:text="${entry.email}">Student</span>
                        </li>
                    </ul>
                </div>
    
            </div>
            <div id="room"  th:text="${dep} + '.' + ${floor} + '.' + ${room}"  hidden></div>
            <div class="row">
                <div class="col-12">
                    <h2>Events</h2>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Person</th>
                                <th scope="col">Email</th>
                                <th scope="col">Room</th>
                                <th scope="col">Action</th>
                                <th scope="col">Time</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: Events">
                            <tr>
                                <td data-bind="text: user">User</td>
                                <td data-bind="text: email">Email</td>
                                <td data-bind="text: room">Room</td>
                                <!-- ko if: entered -->
                                <td>Entry</td>
                                <!-- /ko -->
                                <!-- ko ifnot: entered -->
                                <td>Exit</td>
                                <!-- /ko -->
                                <td data-bind="text: time">Time</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <th:block th:include="base :: scripts" />

    <script th:src="@{/scripts/room.js}" src="../static/scripts/room.js"></script>
</body>
</html>