/*-------------------------------------------------
GLOBALS CLASSES 
-------------------------------------------------*/
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Trebuchet MS";
    font-size: 14px;
    color: #000;
    background: #ffffff;
}

img {
    border: none;
}

h1 {
    font-family: "Trebuchet MS";
    font-size: 22px;
    font-weight: normal;
}

P {
    line-height: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #ffffff;
}

/*-------------------------------------------------
GENERAL CLASSES
-------------------------------------------------*/
.page-wrap {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.wrap {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}


/*-------------------------------------------------
HEADER CLASSES
-------------------------------------------------*/
.header-wrap {
    background: #ffffff repeat-x;
    height: 5px;
    width: 100%;
}

.logo {
    width: 360px;
    margin: 0 auto;
}

.logo h1 {
    color: #000;
    font-size: 45px;
    font-weight: normal;
    padding-top: 70px;
    padding-bottom: 100px;
}


/*-------------------------------------------------
BANNER CLASSES
-------------------------------------------------*/
.banner-wrap {
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.banner {
    height: 250px;
    background: #ffffff no-repeat;
}