.map-container {
    position: relative;
}

.box {
    position: absolute;
    opacity: 0.4;
}

.box:hover {
    opacity: 0.5;
    outline: 3px dashed black;
}

.carousel-control-next-icon,
.carousel-control-prev-icon,
.carousel-indicators {
    filter: invert(1);
}

.percentage-outlined {
    color: white;
    font-weight: bolder;
    text-shadow:
        -1px -1px #000,
         1px  1px #000,
        -1px  1px #000,
         1px  1px #000;
}