<html lang="en">
    <head>
        <th:block th:include="base :: head" />
        <title>Logs</title>
    </head>
    <body>
        <nav th:replace="base :: navbar"></nav>

        <div class="container">
            <h2>Sala 101:</h2>
            <ul role="toolbar">
                <li>User 1 <button type="button" class="btn btn-danger" aria-setsize="4" aria-posinset="1" title="BLOCK"><i class="fa fa-ban"></i></button></li>
                <li>User 2 <button type="button" class="btn btn-danger" aria-setsize="4" aria-posinset="2" title="BLOCK"><i class="fa fa-ban"></i></button></li>
                <li>User 3 <button type="button" class="btn btn-danger" aria-setsize="4" aria-posinset="3" title="BLOCK"><i class="fa fa-ban"></i></button></li>
                <li>User 4 <button type="button" class="btn btn-danger" aria-setsize="4" aria-posinset="4" title="BLOCK"><i class="fa fa-ban"></i></button></li>
            </ul>
            <h2>Sala 102:</h2>
            <ul role="toolbar">
                <li>User 1 <button type="button" class="btn btn-danger" aria-setsize="4" aria-posinset="1" title="BLOCK"><i class="fa fa-ban"></i></button></li>
                <li>User 2 <button type="button" class="btn btn-danger" aria-setsize="4" aria-posinset="2" title="BLOCK"><i class="fa fa-ban"></i></button></li>
                <li>User 3 <button type="button" class="btn btn-danger" aria-setsize="4" aria-posinset="3" title="BLOCK"><i class="fa fa-ban"></i></button></li>
                <li>User 4 <button type="button" class="btn btn-danger" aria-setsize="4" aria-posinset="4" title="BLOCK"><i class="fa fa-ban"></i></button></li>
            </ul>
            <h2>Sala 103:</h2>
            <ul role="toolbar">
                <li>User 1 <button type="button" class="btn btn-danger" aria-setsize="4" aria-posinset="1" title="BLOCK"><i class="fa fa-ban"></i></button></li>
                <li>User 2 <button type="button" class="btn btn-danger" aria-setsize="4" aria-posinset="2" title="BLOCK"><i class="fa fa-ban"></i></button></li>
                <li>User 3 <button type="button" class="btn btn-danger" aria-setsize="4" aria-posinset="3" title="BLOCK"><i class="fa fa-ban"></i></button></li>
                <li>User 4 <button type="button" class="btn btn-danger" aria-setsize="4" aria-posinset="4" title="BLOCK"><i class="fa fa-ban"></i></button></li>
            </ul>
        </div>
        
        <th:block th:include="base :: scripts" />
    </body>
</html>