.map-container {
    position: relative;
}

.box {
    position: absolute;
    opacity: 0.4;
}

.box:hover {
    opacity: 0.5;
}

.hm-full {
    background-color: #ff0000;
}

.hm-almost-full {
    background-color: #cc5500;
}

.hm-mid {
    background-color: #aaaa00;
}

.hm-almost-empty {
    background-color: #55cc00;
}

.hm-empty {
    background-color: #00ff00;
}

.percentage-outlined {
    color: white;
    font-weight: bolder;
    text-shadow:
        -1px -1px #000,
         1px  1px #000,
        -1px  1px #000,
         1px  1px #000;
}
