<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Title</title>
    <th:block th:fragment="head">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
            integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" th:href="@{/css/api.css}" type="text/css">
    </th:block>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- <script th:inline="javascript" th:src="@{/scripts/graphs.js}" src="../static/scripts/graphs.js"></script> -->
    <script th:inline="javascript">
        google.charts.load('current', {'packages':['line']});
        google.charts.setOnLoadCallback(drawChart);

        /*<![CDATA[*/
        var events = /*[[${status_events}]]*/ "";
        /*]]>*/
        function drawChart() {
            var data = new google.visualization.DataTable();
            var rooms = {};

            data.addColumn('date', 'Time');
            for(let event of events){
                if(!(event['room'] in rooms)){
                    rooms[event['room']] = event['occupacy'];
                    data.addColumn('number', event['room']);
                }
            }

            for(let event of events){
                var row = [new Date(event['time'])];
                for(var key in rooms){
                    if(event['room'] === key){
                        console.log("hey");
                        row.push(event['occupacy']);
                        // rooms[event['room']] = event['occupacy'];
                    }
                    else{
                        row.push(rooms[key]);
                    }
                }
                console.log(row);
                // data.addRow([event['occupacy'],new Date(event['time'])]);
                data.addRow(row);
            }

            var options = {
                title: 'Room occupacy by time',
                curveType: 'function',
                legend: { position: 'bottom' },
                vAxis: { format:'#,###%'}
            };

            var chart = new google.charts.Line(document.getElementById('curve_chart'));

            chart.draw(data, google.charts.Line.convertOptions(options));
        }
    </script>
</head>
<body>
    <div>
        <select id="department_selected" name="department_selected">
            <option th:each="department : ${departments}" th:value="${department.dep}" th:text="${department.dep}"></option>
        </select>
    </div>
    <div id="curve_chart" style="width: 900px; height: 500px"></div>
</body>
</html>
  
  