<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:include="api :: head" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">    
    <link rel="stylesheet" th:href="@{/css/graphs.css}" href="../static/css/graphs.css" type="text/css"> 
</head>
<body>
  
    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/api}">
                    <i class="fa fa-home"></i>
                    Home
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" th:href="@{/graphs}">
                    <i class="fa fa-line-chart"></i>
                    Graphs
                    <span class="sr-only">(current)</span>
                </a>
            </li>
          </ul>
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/login}">
                Log out
              </a>
            </li>
          </ul>
        </div>
      </nav>

    <label for="test">Choose a floor:</label>
    <select name="test" id="selected_floor" data-bind="foreach: sortedFloors, childrenComplete: flagFloorsBound">
        <!-- <optgroup data-bind="foreach: $root.floors, attr: { label: id }">
        </optgroup> -->
        <option data-bind="value: $data, text: $data + 'º Andar'"></option>
    </select> 
    <div class="center" data-bind="attr:{id: 'curve_chart_' + selectedFloor()}"  style="width: 97%; height: 650px"></div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.0/knockout-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>  
    <script th:inline="javascript" th:src="@{/scripts/graphs.js}" src="../static/scripts/graphs.js"></script>
</body>
</html>
  
  