<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>
<div class="bg">
    <div class="main">
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img th:src="@{/images/logo.png}" alt="sing up image"></figure>
                        <a th:href="@{register}" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Login</h2>
                        <form method="POST" th:action="@{/login}" th:object="${user}" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" th:field="*{name}" name="name" id="name" placeholder="Your Name"/>
                            </div>
                            <div class="form-group">
                                <label for="password"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" th:field="*{password}" name="password" id="password" placeholder="Password"/>
                            </div>


                            <!--Mandatory fields handler-->
                            <div class="container" style="justify-content: center;">
                                            <span th:if="${#fields.hasErrors('name') || #fields.hasErrors('password')}"
                                                  class="text-danger">All fields are mandatory!</span>
                                <span th:if="${wrong}" class="text-danger">Wrong Credentials!</span>
                                <span
                                        th:if="${not (#fields.hasErrors('name') || #fields.hasErrors('password'))}"
                                        class="text-danger"><br></span>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script th:src="@{/jquery/jquery.min.js}"></script>
</body>
</html>